.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #b7cfe7;
  padding: 10px;
  gap: 5px;
}

.post {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 10px;
  text-align: center;
}
